[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
# User-specific settings
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
# Unity Asset Store tools
Assets/AssetStoreTools*
# Crashlytics
Assets/Plugins/Editor/Crashlytics*
# Collaborate generated
**/Assets/CollaborateMeta/
